.money-container {
    height: 60vh;
    position: relative;
   }
   
   .money-img {
    height: 100%;
    clip-path: circle();
    transition: all 0.3s;
   }
   
   .money-title {
    font-size: 3rem;
    opacity: 0;
    color: black;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.3s;
    text-transform: uppercase;
   }
   
   .money-container:hover .money-img {
    filter: grayscale(80%);
   }
   
   .money-container:hover .money-title {
    opacity: 1;
    top: 50%;
   }
   